/* Resets margin and padding, to not have spaces between sections */
* {
    margin-top: 0%;
    padding: 6px 1px;
}
/**
*       NAVIGATION BAR 
*
**/

/* navigation bar buttons styling list */
 .nav-bar-button {
    border-radius: 8px;
    font-size: 24px;
    background-color: rgb(65, 159, 221);
    margin-left: 2px;
    text-decoration: solid; /* removes the underlined link */
    
}

.nav-bar-button:hover {
    background-color: green;
    font-size: 30px;

}

/* navigation bar container */
.navbar-container {
    border: 2px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}

/* id - author name in the header */
#author-name{
    font-size: 24px;
    color:blueviolet;
    float: right;
}

/* ABOUT ME PAGE, 1ST SECTION IN THE BODY */
.about-me {
    background-color: lightslategray;
}

.sect2-aboutpage {
    background-color: slategray;
    padding-bottom: 36%;
    overflow: hidden;
}

/* About page, section 2 - align text to the right, 105 */
#sect2-div {
    margin-left: 6%;
    padding-top: 2%;
}

/* PARAGRAPHS */
p {
    font-size: 20px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#homepage-body, #portfolio-body, #aboutpage-body, #contact-body {
    margin-top: 0px;
    background-image: url('images/background.png');
}
/* HOMEPAGE */
.homepage {
    padding-bottom: 20%;
}

/* HOMEPAGE SECTION1 TEXT */
.mission-sect {
    margin-left: 4%;
    padding-bottom: 50%;
}

/* line spacing within the paragraphs */ 
.space {
    line-height: 140%;;
}

/* PORTFOLIO PAGE */
/* Portfolio divisions and sections */ 
.port-title, .portfolio-sections {
    color: azure;
}

/*divs for the projects, starting at Drawings */
.port-projects-div {
    display: flex;
    align-items: flex-start;
}

#portfolio-flexbox {
    display: flex;
    border-radius: 8px;
    border: 2px solid rgb(197, 182, 173);
    margin-left: 2%;
    margin-bottom: 2%; /*puts spaces between divs */
    overflow: hidden;
    position: relative;
}

/* IMAGES FOR PORTFOLIO PROJECTS */
#folio-img {
    width: 40%;
    float: right;
}

/*the paragraphs within the divisions of the projects */
#folio-paragraph {
    text-align:right;
    flex-wrap: nowrap;
}

#footer {
    text-align: center;
    color:azure;
    text-decoration: solid;
}

/* FORMSUBMITTED PAGE */

/* submitted dialog */
#formsubmit-div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    justify-content: center;
    display: flex;
    padding-bottom: 80%;
    padding-top: 12px;
}
/* body of formsubmitted page */
#formsubmit-body {
    background-color: burlywood;
}

/*********************************************************/
/* CONTACT PAGE */
#contact-form-div {
    border: 8px solid beige;
    justify-content: center;
    display: flex;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 12px;
}

#contact-body {
    background-color: rgb(174, 192, 197);
}

textarea, input[type=email] ,input[type=text] {
    width: 80%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
  }

.contact-submit-button {
    width: 100px;
    background-color:rgb(174, 197, 190)
  }

/*footer color for the email hyperlink */
#foot-ref {
    color: lightgray;
    position: relative;
    width: 20%;
    height: 2.5rem; 
}

/* TURN TO GRIDS ON A SMALLER SCREEN - FOR PORTFOLIO PAGE */
@media screen and (max-width: 732px) {
    .port-projects-div {
        display: grid;
        align-items: left;
    }
    
    #portfolio-flexbox {
        border-radius: 8px;
        border: 2px solid rgb(197, 182, 173);
        margin-left: 2%;
        margin-bottom: 2%; /*puts spaces between divs */
        overflow: hidden;
    }
}